<!DOCTYPE html>
<html>
	<head>
			<meta name="Bigwig's Blog" content="Content by Michael J Oria"/>
			<meta charset="utf-8">
			<meta name="viewport" content="initial-scale=1, maximum-scale=1">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<title>Bigwig's Blog</title>
	</head>
	<body>
		<div class="flex-container">
			<header>
	    		<% include ./partials/header %>
			</header>
			<h1>Bigwig's Blog Posts</h1>
			<img src="./images/370H.jpg" title="Bigwig's Blog Photo" alt="Bigwig's Blog Photo">
			<div id="add-btn">
				<a href="add"><button class="btn-add">Add a New Post</button></a>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Subject</th>
							<th scope="col">Body</th>
						</tr>
					</thead>
						
						<% for(let i in result.rows) {%>

						<tr>
								
							<td><%=  result.rows[i].id  %></td>
							<td><%=  result.rows[i].subject  %></td>
							<td><%=  result.rows[i].memo  %></td>
						
						</tr>

						<div class="buttonPower">
						<tr>
							<form method='GET' action='/edit/blogposts/<%= result.rows[i].id %>' >
							<td><button class="btn-edit">  EDIT  </button></td>
							</form>

							<form method='POST' action='/delete/blogposts/<%= result.rows[i].id %>' >
							<td><button class="btn-delete">  DELETE  </button></td>
							</form>
						</tr>
					</div>

					<% } %>

				</table>
			<footer>
				<% include ./partials/footer %>
			</footer>
			</div>
	</body>
</html>


